body
  margin: 0
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #63605b
  // background-image: url('https://www.nationsonline.org/bilder/world_outline_map.jpg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  min-width: 100vw
  min-height: 100vh

html
  box-sizing: border-box
  font-family: sans-serif
  line-height: 1.15
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -ms-overflow-style: scrollbar
  -webkit-tap-highlight-color: transparent

a
  text-decoration: none
  color: rgb(93, 93, 93)
  &:hover
    text-decoration: none
    color: #7b7b7b

*,
*::before,
*::after
  box-sizing: inherit
